<!-- Modal -->
<div class="modal fade" id="modalNuevo" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                    {{this.dataBase.personaSeleccionada.id ? "Actualizar" : "Nuevo"}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <form [formGroup]="forma" (ngSubmit)="onGuardar()">
                <div class="modal-body">

                    <input type="hidden" formControlName="id" class="form-control" [(ngModel)]="this.dataBase.personaSeleccionada.id">
                    <br>
                    <input type="text" formControlName="nombre" placeholder="Nombre" class="form-control" [(ngModel)]="this.dataBase.personaSeleccionada.nombre">
                    <br>
                    <input type="text" formControlName="apellido" placeholder="Apellido" class="form-control" [(ngModel)]="this.dataBase.personaSeleccionada.apellido">
                    <br>
                    <input type="text" formControlName="edad" placeholder="Edad" class="form-control" [(ngModel)]="this.dataBase.personaSeleccionada.edad">



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" #btnClose>Cerrar</button>
                    <button type="submit" class="btn btn-primary" [disabled]="forma.invalid">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>